@use "/Abstracts" as *;

.room-container {
	display: grid;
	grid-template-rows: auto 1fr;
	place-items: center;

	.list-lights {
		display: grid;
		grid-row: inherit;

		padding: 0.5rem;

		@for $i from 0 through 8 {
			&:nth-child(#{$i}) {
				&--#{$i} {
					grid-template-columns: var();
				}
			}
		}
	}
}


