@use "/Abstracts" as *;

@function hsl($h, $s, $l) {
	@return unquote("#{$h} #{$s} #{$l}");
	//? To hame color for colors
	// @return unquote("hsl(#{$h} #{$s} #{$l})");
}

$colors: (
	surface: (
		100: hsl(210, 18%, 5%),
		200: hsl(210, 18%, 10%),
		300: hsl(210, 18%, 15%),
		400: hsl(210, 18%, 20%),
		500: hsl(210, 18%, 50%),
		600: hsl(210, 18%, 80%),
		700: hsl(210, 18%, 85%),
		800: hsl(210, 18%, 90%),
		900: hsl(210, 18%, 95%),
	),
	brand: (
		100: hsl(110, 100%, 10%),
		200: hsl(110, 100%, 20%),
		300: hsl(110, 100%, 30%),
		400: hsl(110, 100%, 40%),
		500: hsl(110, 100%, 50%),
		600: hsl(110, 100%, 60%),
		700: hsl(110, 100%, 70%),
		800: hsl(110, 100%, 80%),
		900: hsl(110, 100%, 90%),
	),
);

@mixin create-custom-prop($list) {
	@each $type, $value in $list {
		@each $shade, $color in $value {
			#{$color-var}-#{$type}-#{$shade}: #{$color};
		}
	}
}

:root {
	@include create-custom-prop($colors);
}
